{% extends 'base/base.html' %}


{% block content %}
    <style>
        .content_container{
          top: 0;
          width: 50vw;
          margin: auto;
          // background-color: black;
          text-align: left
        }
    </style>
    <div class="content_container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Wellcome!</h1>
                <hr>
                <p>Это маленький и очень простой сайт</p>
                <ul>
                    <li>Автор: {{ author }}</li>
                    <li>Количество страниц: {{ pages }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
