{% extends 'base/base.html' %}

{% block content %}
  <div class="content_container">

    {% for poll in polls %}
    <div class="card poll">
      <div class="card-body poll-body">
        <div class="poll-bg poll-bg1">
          <h2 class="card-title vote-title">{{poll.name}}</h2>
          <p class="card-text poll_description">{{poll.description}}</p>
        </div>
        {% for vote in poll.votes.all %}
        <button class="btn btn-primary vote" role="button">{{vote.description}}</button>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
