{% extends 'base/base.html' %}

{% block content %}

  <div class="content_container">
    {% if has_polls %}
    {% for poll in polls %}
    <div class="card poll">
      <div class="poll-bg"></div>
      <div class="actions-btn"></div>
      <div class="card-body poll-body">
        <div class="card-head">
          <p class="card-title vote-title">{{poll.name}}</p>
          <p class="card-text poll_description">{{poll.description}}</p>
        </div>
        {% for vote in poll.votes.all %}
        <div class="btn btn-primary vote">{{vote.description}}</div>
        {% endfor %}
        <div class="card-bottom">
          <p class="created-by">Created by: <span class="author">{{poll.author}}</span></p>
          <div class="stat">
            <p>40</p>
            <div class="vote-icon stat-icon"></div>
          </div>
          <div class="stat">
            <p>300</p>
            <div class="view-icon stat-icon"></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

      {% else %}
        <div class="card">
          <div class="card-body">
            <h2>Не получилось достать опросы :(</h2>
          </div>
        </div>
      {% endif %}

    {% if edit_voting %}
      {% include 'base/edit_voting.html' %}
    {% endif %}
  </div>
{% endblock %}
