{% extends 'base/base.html' %}


{% block content %}
    <style>
        .content_container{
          top: 0;
          width: 50vw;
          margin: auto;
          // background-color: black;
          text-align: left
        }
    </style>
    <div class="content_container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Текущее время</h1>
                <p>Время на сервере: {{ time.hour }} часов, {{ time.minute }} минут и {{ time.second }} секунд</p>
            </div>
        </div>
    </div>
{% endblock %}
