{% extends 'base/base.html' %}

{% block content %}

  <div class="content_container">
    <div class="card poll">
      <div class="poll-bg"></div>
      <div class="actions-btn"></div>
      <div class="card-body poll-body">
        <div class="card-head">
          <p class="card-title vote-title">Lorem ipsum</p>
          <p class="card-text poll_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices Lorem</p>
        </div>
        <div class="btn btn-primary vote">1</div>
        <div class="btn btn-primary vote">2</div>
        <div class="btn btn-primary vote">3</div>
        <div class="card-bottom">
          <p class="created-by">Created by: <span class="author">bruh</span></p>
          <div class="stat">
            <p>40</p>
            <div class="vote-icon stat-icon"></div>
          </div>
          <div class="stat">
            <p>300</p>
            <div class="view-icon stat-icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
