.menu_container {
    top: -10px;
    width: 20%;
    position: fixed;
    margin: 20px;
    padding: 10px;
    color: #3c3c3c;
}

.buttons {
    margin-top: 37px;
    margin-left: 9px;
}

.menu_link {
    margin: 10px;
    text-align: left;
    padding: 10px;
    font-size: 24px;
    line-height: 28px;
    color: #595959;
    cursor: pointer;
    transition: 0.1s;
}
.logout {
    color: #646869;
}
.active_link {
    background-color: #4fadc4;
    color: #F2F2F2;
}
.menu_link:hover {
    box-shadow: inset 0px 0px 0px 2px #3c3c3c;
}