* {
    font-style: normal;
    font-weight: normal;
}

p {
    color: #242424;
}

body {
    background-color: #b8d0d3;
    background-image: url("images/bg_pattern.jpg");
    background-repeat: repeat;
}

p {
    text-align: left;
}

.content_container {
    top: 0;
    width: 50vw;
    margin: auto;
    text-align: center;
}

.poll {
    top: -5vh;
    text-align: left;
    width: 90%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);//#D2DEE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 40px;
}
.profile_card{
    text-align: center;
    background: #73ABC2;
    padding: 5px 20px 0px 20px;
    width: 60%;
    background: rgba(115, 171, 194, 0.9);
    border-radius: 2px;
    box-shadow: none;
}
.profile_card *{
    color: #F0EFEF;
}
.vertical_line{
    border: black 1px solid;
    width: 1px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.actions-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    background: url("icons/actions.svg");
    width: 6px;
    height: 26px;
}

.poll_description {
    font-size: 18px;
    font-weight: 320;
}

.vote {
    margin-bottom: 14px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-align: left;
    color: #D2D9DF;
    padding: 5px;
    padding-left: 20px;
    border-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    line-height: 28px;
    display: block;
    background: rgba(115, 171, 194, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.vote-title {
    font-size: 2.5em;
    text-align: left;
    text-weight: normal;
    font-size: 36px;
}

.poll-bg {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 20px;
    z-index: -1;
    filter: blur(3px);
    background-size: cover, cover;
    background-position: center center,center center;
    width: 100%;
}

.card-head {
    padding: 22px;
}

.poll-body {
    padding: 0;
    text-align: center;
}

.card-bottom {
    display: inline-block;
    margin-top: 8px;
    width: 100%;
}

.created-by {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 21px;
    color: #989898;
    margin: 0px;
    margin-left: 21px;
    vertical-align: middle;
}

.stat {
    display: inline-block;
    float: right;
    margin-right: 20px;
    vertical-align: middle;
}

.stat > p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #989898;
}

.stat-icon {
    display: inline-block;
    vertical-align: middle;
}

.vote-icon {
    background: center url("icons/vote.svg") no-repeat;
    transform: translateY(-5%);
    width: 19px;
    height: 29px;
}

.view-icon {
    background: url("icons/view.svg");
    width: 29px;
    height: 29px;
}

.author {
    color: #7BC3E0;
}

body {
    background-color: #b8d0d3;
    background-image: url("../static/images/bg_pattern.jpg");
    background-repeat: repeat;
}

.field {
    margin-top: 13px;
}

.field > label {
    display: block;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
}

.field > input {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FBFBFB;
    border-radius: 5px;
    border:none;
    width: 100%;
}

input, select, textarea{
    color: #242424;
}

/* Customize the label (the container) */
.checkbox {
    margin-top: 8px;
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #989898;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 0px;
    top: 2px;
    bottom: 2px;
    width: 17px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

input[type=submit], input[type=button] {
    background: rgba(134, 189, 120, 0.9);
    border-radius: 5px;
    color: #FBFBFB;
    font-size: 20px;
    width: 100%;
}

.singup {
    background-color: #73ABC2 !important;
}

.login-fail {
    background: #DF6868;
    font-size: 14px;
    line-height: 16px;
    color: #F0EFEF;
    width: 180px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.8);
}

.centered {
    position: absolute;
    top: 10px;
    width: 45vw;
    margin: 15px;
}

.edit-voting > .error-container > .login-fail {
    width: 100%;
}

.show-top-anim {
  animation: top-anim 0.5s;
}

.hide-top-anim {
  animation: hide-anim 0.5s;
}

@keyframes top-anim {
  0% {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  80% {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
}

@keyframes hide-anim {
  0% {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }

  80% {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0%;
  }
}

.card-header {
}

.card-header > p {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #595959;
}

.card-header > p.selected {
    font-weight: bold;
}

.horizontal-sep {
    display: inline-block;
    width: 1px;
    height: 29px;
    background-color: #595959;
    transform: translateY(25%);
    margin-left: 14px;
    margin-right: 14px;
}

.edit-voting {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 20px;
}

.close-icon {
    background-image: url("icons/close.svg");
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0px;
    top: 20px;
    cursor: pointer;
}

.text-field {
    position: relative;
    display: block;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 15px;
}

p.label {
    display: block;
   //margin-left: 8px;
    //margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    //font-weight: bold;
    color: #C7C4C4;

}

.input {
    position: relative;
}

.input > input {
    display: block;
    width: 100%;
    border: 1px solid #F0EFEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #5A5757;
}

.char-counter {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
    color: #BBBBBB;
}

.bottom {
    top: unset;
    bottom: 5px;
}

.text-area {
    position: relative;
    text-align: left;
    padding-left: 8px;
    width: 100%;
    min-height: 70px;
    border: 1px solid #F0EFEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #5A5757;
}

.choices-list {
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 32px;
}

.edit-footer {
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 32px;
}

.button {
    position: relative;
    background: #7BC3E0;
    border-radius: 8px;
    border: none;
}

.button > p {
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    color: #FBFBFB;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    margin-left: 10px;
}

.choice {
    margin-top: 7px;
}

.icon {
    color: #595959;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 9px;
}

.icon.bin {
    background-image: url("icons/bin.svg");
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.icon.edit {
    background-image: url("icons/edit.svg");
    width: 25px;
    height: 25px;
    right: 48px;
    cursor: pointer;
}

.new-choice {
    position: relative;
    margin-top: 7px;
}

button.done {
    display: inline-block;
    width: 15%;
    background: #7BC3E0;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #FBFBFB;
    padding-top: 8px;
    padding-bottom: 8px;
}

.new-choice > .input {
    position: relative;
    display: inline-block;
    width: 82%;
    margin-right: 10px;
}

.button-icon {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 14px;
    vertical-align: middle;
}

.plus {
    background-image: url("icons/plus.svg");
    width: 22px;
    height: 22px;
}

.add.choice {
    width: 100%;
    display: inline-block;
    margin-top: 7px;
}

.add.choice > p {
    display: inline;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 0px;
    vertical-align: middle;
}

.inline-elements {
    display: inline;
}

.choice-type {
    display: inline-block;
    border: 1px solid #F0EFEF;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
}

.choice-variant {
    display: inline-block;
    margin: 5px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.choice-variant.active {
    background: #7BC3E0;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #FBFBFB;
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}

.edit-image {
    display: inline-block;
    float:right;
    padding-bottom: 0px;
}

.edit-image > p {
    display: inline-block;
    padding-bottom: 0px;
    margin: 0px;
    margin-left: 6px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.edit {
    display: inline-block;
    mask-image: url("icons/edit.svg");
    -webkit-mask-image: url("icons/edit.svg");
    width: 25px;
    height: 25px;
    background-color: #FBFBFB;
}

.label.choice {
    margin-top: 10px;
}

.create {
    background: #7BC3E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #FBFBFB;
    float: right;
    margin-top: 20px;
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lang-container {
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.language-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}