<form method="post" action="/login/">
    {% csrf_token %}
    {% for field in login_form %}
        <div class="field">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <label class="checkbox"> Remember me
        <input name="remember_me" type="checkbox">
        <span class="checkmark"></span>
    </label>
    {% if login_error %}
        <div class="login-fail">
            {{ login_error }}
        </div>
    {% endif %}
    <p><input type="submit" value="Log in"/></p>
</form>
<form action="/register" method="get">
    <input type="submit" value="Sing up" name="Submit" class="singup"/>
</form>

