{% load i18n %}
<form method="post" action="/login/" id="login-form">
    {% csrf_token %}
    {% for field in login_form %}
        <div class="field">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <label class="checkbox"> {% trans "Remember me" %}
        <input name="remember_me" type="checkbox">
        <span class="checkmark"></span>
    </label>
    <div class="error-container"></div>
    <p><input type="button" onclick="login()" value="{% trans 'Log in' %}"/></p>
</form>
<input type="button" value="{% trans 'Sing up' %}" onclick="show_registration()" class="singup"/>

