<div class="fill"></div>
<div class="centered">
    <div class="card-header">
        <p class="selected">Edit</p>
        <div class="horizontal-sep"></div>
        <p>Preview</p>
    </div>
    <div class="close-icon"></div>
    <div class="card edit-voting" >
      <div class="card-body poll-body">
          <div class="text-field">
              <p class="label">Title</p>
              <div class="input">
                  <input type="text">
                  <p class="char-counter">0/100</p>
              </div>
          </div>
          <div class="text-field">
              <p class="label">Description</p>
              <div class="text-area" contentEditable="true"></div>
              <p class="char-counter bottom">0/500</p>
          </div>
          <div class="choices-list">
              <p class="label">Choices</p>
              <div class="choice button">
                  <p>Choice 1</p>
                  <div class="icon edit"> </div>
                  <div class="icon bin"> </div>
              </div>
              <div class="new-choice">
                  <div class="input">
                      <input type="text">
                      <p class="char-counter">0/100</p>
                  </div>
                  <button class="done">Done</button>
              </div>
              <div class="button add choice">
                  <div class="button-icon plus"></div>
                  <p>Add new choice</p>
              </div>
              <p class="label choice">Choice type</p>
              <div class="inline-elements">
                  <div class="choice-type">
                      <div class="choice-variant active">Single</div>
                      <div class="choice-variant">Multiple</div>
                  </div>
                  <div class="button edit-image">
                      <div class="button-icon edit"></div>
                      <p>Edit background image</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <button class="create">CREATE</button>
</div>