<div class="fill"></div>
<div class="centered">
    <div class="card-header">
        <p class="selected">Edit</p>
        <div class="horizontal-sep"></div>
        <p>Preview</p>
    </div>
    <div class="close-icon" onclick="close_voting_editing()"></div>
    <div class="card edit-voting" >
      <div class="card-body poll-body">
           {% csrf_token %}
          <div class="text-field">
              <p class="label">Title</p>
              <div class="input" id="input">
                  <input class="title-input" type="text" maxlength="100">
                  <p class="char-counter">0/100</p>
              </div>
          </div>
          <div class="text-field">
              <p class="label">Description</p>
              <div class="text-area desc-input" contentEditable="true" id="input"></div>
              <p class="char-counter bottom">0/500</p>
          </div>
          <div class="choices-list">
              <p class="label">Choices</p>
              <button class="button add choice" onclick="add_new_choice()">
                  <div class="button-icon plus"></div>
                  <p>Add new choice</p>
              </button>
          </div>
          <div class="edit-footer">
              <p class="label choice">Choice type</p>
              <div class="inline-elements">
                  <div class="choice-type">
                      <div id="0" class="choice-variant active" onclick="choice_type_change()">Single</div>
                      <div id="1" class="choice-variant" onclick="choice_type_change()">Multiple</div>
                  </div>
                  <div class="button edit-image">
                      <div class="button-icon edit"></div>
                      <p>Edit background image</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <button class="create" onclick="submit_voting()">CREATE</button>
</div>