{% if has_polls %}
  {% for poll in polls %}
    <div id="{{poll.id}}" class="card poll">
      {% if poll.image %}
        <div class="poll-bg" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(210, 217, 223, 0.96) 61%), url({{ poll.image.url }});"></div>
      {% else %}
        <div class="poll-bg" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(210, 217, 223, 0.96) 61%), url();"></div>
      {% endif %}
      <div class="actions-btn"></div>
      <div class="card-body poll-body">
        <div class="card-head">
          <p class="card-title vote-title">{{poll.name}}</p>
          <p class="card-text poll_description">{{poll.description}}</p>
        </div>
        {% for vote in poll.votevariant_set.all %}
          <div id="{{vote.id}}" class="btn btn-primary vote" onclick="vote()">{{vote.name}}</div>
        {% endfor %}
        <div class="card-bottom">
          <p class="created-by">Created by: <span class="author">{{poll.author}}</span></p>
          <div class="stat">
            <p>40</p>
            {% csrf_token %}
            <button class="btn vote-icon stat-icon" onclick="like({{poll.id}})"></button>
          </div>
          <div class="stat">
            <p>300</p>
            <div class="view-icon stat-icon"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="{{poll.id}}"></div>  <!-- alert container -->
  {% endfor %}

{% else %}
  <div class="card">
    <div class="card-body">
      <h2>Не получилось достать опросы :(</h2>
    </div>
  </div>
{% endif %}