{% load i18n %}
<div class="fill"></div>
<div class="centered">
    <div class="card edit-voting">

    <div class="card-header">
        <p class="selected">{% trans "Report" %}</p>
        <p>Voting #<b id="voting_id"></b></p>
        <div class="horizontal-sep"></div>
    </div>
    <div class="close-icon" onclick="close_report()"></div>

    <div class="card-body poll-body">
           {% csrf_token %}
          <div class="text-field">
              <p class="label">{% trans "Title" %}</p>
              <div class="input" id="input">
                  <input class="title-input" type="text" maxlength="100">
<!--                  <p class="char-counter">0/100</p>-->
              </div>
          </div>
          <div class="text-field">
              <p class="label">{% trans "Description" %}</p>
              <textarea class="text-area desc-input" id="input"></textarea>
<!--              <p class="char-counter bottom">0/500</p>-->
          </div>
    </div>

    </div>

    <div class="error-container"></div>
    <button class="create" onclick="submit_report()">{% trans "Submit" %}</button>
</div>