{% load i18n %}
<div class="fill"></div>
<div class="centered">
    <div class="card edit-voting">

    <div class="card-header">
        <h1 class="text-left">{% trans "Report voting" %}</h1>
        <div class="close close-icon" onclick="close_report()"></div>
    </div>

    <div class="card-body">
        <p>{% trans "Please describe what rules this voting violates in the field below" %}</p>
           {% csrf_token %}
          <div class="text-field">
              <textarea class="text-area desc-input" id="input"></textarea>
<!--              <p class="char-counter bottom">0/500</p>-->
          </div>
    </div>

    <button class="create mx-auto" onclick="submit_report()">{% trans "Submit" %}</button>

    </div>

    <div class="error-container"></div>
</div>